:root {
    --red: #a41623;
    --secondary-color: #949494;
    --primary-color: var(--red);
    --font-color: #fff;
    --ease-out-back: cubic-bezier(0.34, 1.5, 0.64, 1) .3s;
    --ease-out-exp: cubic-bezier(0.16, 1, 0.3, 1) .3s;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    margin: 0;
    font-family: 'Amatic SC', cursive;
    color: var(--font-color);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: var(--primary-color);
}

section,
.fortune-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fortune {
    margin: 20vh 2rem;
    font-size: clamp(2rem, 6vw, 2.8rem);
    text-align: center;
    transform-origin: center bottom;
    opacity: 0;
}

#fortune[data-state="hidden"] {
    opacity: 0;
    transition: opacity var(--ease-out-exp);
}

#fortune[data-state="displayed"] {
    opacity: 1;
    animation: grow var(--ease-out-back);
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

img,
svg {
    position: fixed;
    bottom: 10vw;
    width: 20vw;
    min-width: 200px;
    max-width: 270px;
    transform: translateX(6.6%);
    cursor: pointer;
}
